/* Layout styling */
html,
body {
  height: 100%;
  background-color: #C0C0C0;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  text-align: center;
}
body.lc-on {
  background: #000000;
}

ol {
    padding-left: 0;
}

li {
  list-style-position: inside;
}

/* Live Caption Styling */
#lc-intro {
    background-color: #F0F0F0;
    padding-bottom: 2em;
}


#lc {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 10;
}

#lc span {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  /* background: black; */
  color: #FFFFFF;
  font-size: 3em;
  font-family:monospace;
  /* padding: 0.5em; */
  min-height: 1.5em;
  line-height: 1.5em;
}

#lc .lc-.lc-btn {
  font-family:monospace;
  appearance: none;
  border: 0;
  font-size: 1em;
  background: transparent;
  color: #FFFFFF;
}

#lc abbr {
  background: white;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.8em;
  display: inline-block;
  padding: 0 0.25em;
}

#lc-rec {
  margin: auto;
  max-width: 300px;
  text-align: center;
  margin-top: 2em;
  position: relative;
  width: 100%;
  z-index: 10;
}

#lc-rec .lc-btn {
  width: 100%;
}

.lc-on #lc-sessions,
.lc-on footer {
  display: none;
}
.lc-on #lc-intro {
  background-color: transparent;
}

#lc-refresh {
  display: none;
}

.lc-on #lc-refresh {
  display: block;
}

#lc-transcript {
  display: none;
  margin: auto;
  width: 60%;
}

#lc-transcript textarea {
  resize: both;
  width: 50%;
  height: 150px;
}

.lc-btn {
  -moz-box-shadow:inset 0px 1px 3px 0px #d9d9d9;
  -webkit-box-shadow:inset 0px 1px 3px 0px #d9d9d9;
  box-shadow:inset 0px 1px 3px 0px #d9d9d9;
  background-color: #595959;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #696969;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  margin-bottom: 10px;
  text-decoration:none;
  text-shadow:0px -1px 0px #666666;
}

.lc-btn:focus {
  background-color:#2e2e2e;
}
.lc-btn:hover {
  background-color:#2e2e2e;
}
.lc-btn:active {
  position:relative;
  top:1px;
}

.lc-btn.lc-btn-wide {
  width: 300px;
}

#lc-sessions {  
  margin-bottom: 2em;
  margin-top: 2em;
}

#lc-session-types { 
  text-align: center;
}

#lc-sessions label {
  margin-right: .5em;
}
select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 300px;
}

#lc-refresh {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
}
footer {
  margin-bottom: 1em;
}
footer a {
  color: #000000;
}
