body { 
    /* CSS Variables that may have been missed get put on body */ 
        --flex-direction:  initial;  
        --flex-wrap:  initial;  
        --justify-content:  initial;  
        --align-items:  initial;  
        --align-content:  initial;  
        --gap:  initial;  
        --flex-basis:  initial;  
        --flex-grow:  initial;  
        --flex-shrink:  initial;  
        --order:  initial;  
        --align-self:  initial;  
        --col-gutter:  calc(var(--grid-gutter) / 2);  
        --grid-gutter-h:  var(--col-gutter);  
        --main-width: 1170px; 
        --width:  calc(var(--main-width) + var(--col-gutter) * 2);  
        --width-md:  calc(var(--max-width-md) + var(--col-gutter) * 2);  
        --c-main: #ba4994; 
        --e-global-color-smartmag:  var(--c-main);  
        --sidebar-c-pad:  var(--sidebar-sep-pad, calc(var(--sidebar-pad) + 8px)); 
        --e-global-color-smartmag-main:  var(--c-main);  
        --e-global-color-smartmag:  var(--c-main); 
        --c-main:  #2ab391;  
        --c-contrast-0:  #fff;  
        --c-contrast-10:  #fbfbfb;  
        --c-contrast-100:  #e8e8e8;  
        --c-contrast-125:  #e2e2e2;  
        --c-contrast-150:  #ddd;  
        --c-contrast-300:  #bbb;  
        --c-contrast-450:  #8a8a8a;  
        --c-contrast-650:  #505050;  
        --c-contrast-700:  #444;  
        --c-contrast-850:  #191919;  
        --c-contrast-900:  #161616;  
        --c-rgba:  0, 0, 0;  
        --c-separator:  var(--c-contrast-100);  
        --c-separator2:  var(--c-contrast-125);  
        --c-links:  var(--c-contrast-900);  
        --c-headings:  var(--c-contrast-900);  
        --c-excerpts:  var(--c-contrast-650);  
        --c-nav:  var(--c-contrast-900);  
        --c-nav-blip:  var(--c-contrast-300);  
        --c-post-meta:  var(--c-contrast-450);  
        --c-contrast-0:  #000;  
        --c-contrast-10:  #070707;  
        --c-contrast-100:  #222;  
        --c-contrast-125:  #2b2b2b;  
        --c-contrast-150:  #333;  
        --c-contrast-300:  #555;  
        --c-contrast-450:  #999;  
        --c-contrast-650:  #ccc;  
        --c-contrast-700:  #d1d1d1;  
        --c-contrast-850:  #ececec;  
        --c-contrast-900:  #f0f0f0;  
        --c-rgba:  255, 255, 255;  
        --c-a-hover:  rgba(var(--c-rgba), .7);  
        --c-headings:  var(--c-contrast-850);  
        --c-excerpts:  var(--c-contrast-650);  
        --c-separator:  rgba(var(--c-rgba), .13);  
        --c-separator2:  rgba(var(--c-rgba), .13);  
        --c-links:  var(--c-contrast-900);  
        --c-headings:  var(--c-contrast-850);  
        --c-nav:  var(--c-contrast-900);  
        --c-nav-drop-bg:  var(--c-contrast-10);  
        --c-post-meta:  rgba(var(--c-rgba), .65);  
        --c-email:  var(--c-contrast-300);  
        --c-input-bg:  rgba(var(--c-rgba), .1);  
        --line-weight:  1px;  
        --c-border:  var(--c-separator2);  
        --space-below:  26px;  
        --c-block:  var(--c-main);  
        --c-block:  var(--c-contrast-900); 
        --c-line:  var(--c-main);  
        --line-width:  40px;  
        --line-weight:  2px;  
        --border-weight:  1px;  
        --line-weight:  1px;  
        --space-below:  30px; 
        --line-weight:  4px;  
        --c-line:  #8a2be2; 
        --c-main:  #DC2430;  
        --c-block:  #DC2430; 
        --grid-row-gap:  35px; 
        --grid-row-gap:  52px; 
        --grid-row-gap:  36px; 
        --list-p-content-pad:  5px 0; 
        --list-p-media-width:  62%;  
        --list-p-media-max-width:  85%; 
        --p-meta-sep:  "\2014";  
        --limit-lines:  2; 
        --c-links:  initial;  
        --c-a:  initial;  
        --c-a-hover:  var(--c-main);  
    } 
    
    @media all{ 
      * { 
        box-sizing:  inherit;
        -webkit-font-smoothing: antialiased;
      } 
    
      div { 
        margin: 0; 
        padding: 0; 
        border: 0; 
        vertical-align: baseline; 
        font-size: 100%; 
        font-family: inherit;
      } 
    
      *  { 
        box-sizing: border-box;
      } 
    
      .elementor-element { 
        --flex-direction: initial; 
        --flex-wrap: initial; 
        --justify-content: initial; 
        --align-items: initial; 
        --align-content: initial; 
        --gap: initial; 
        --flex-basis: initial; 
        --flex-grow: initial; 
        --flex-shrink: initial; 
        --order: initial; 
        --align-self: initial; 
        flex-basis: var(--flex-basis); 
        flex-grow: var(--flex-grow); 
        flex-shrink: var(--flex-shrink); 
        order: var(--order); 
        align-self: var(--align-self);
      } 
    
      .elementor-column { 
        position: relative; 
        min-height: 1px; 
        display: flex;
      } 
    }     
    
    @media (min-width: 768px){ 
      .elementor-column.elementor-col-100 { 
        width: 100%;
      } 
    }     
    
    @media all{ 
      .has-el-gap .elementor-column { 
        flex-shrink: 0; 
        padding-left: var(--col-gutter); 
        padding-right: var(--col-gutter);
      } 
    
      .elementor-section .elementor-container { 
        display: flex; 
        margin-right: auto; 
        margin-left: auto; 
        position: relative;
      } 
    
      .has-el-gap .elementor-container { 
        flex: 1 1 auto; 
        margin-right: calc(-1 * var(--col-gutter)); 
        margin-left: calc(-1 * var(--col-gutter));
      } 
    
      .elementor-section.elementor-section-boxed > .elementor-container { 
        max-width:  1200px;
      } 
    
      .elementor-section.elementor-section-boxed > div.elementor-container { 
        width: 100%; 
        max-width: initial;
      } 
    }     
    
    @media (min-width: 1201px){ 
      .elementor-section.elementor-section-boxed > div.elementor-container { 
        max-width: var(--width, var(--main-width)); 
        flex-grow: 0;
      } 
    }     
    
    @media all{ 
      section { 
        display: block;
        margin:  0; 
        padding:  0; 
        border:  0; 
        /* vertical-align:  baseline;  */
        font-size:  100%; 
        font-family:  inherit;
      } 
    
      .elementor-section { 
        position: relative;
      } 
    
      .has-el-gap { 
        --col-gutter: calc(var(--grid-gutter) / 2); 
        --grid-gutter-h: var(--col-gutter); 
        --width: calc(var(--main-width) + var(--col-gutter) * 2); 
        --width-md: calc(var(--max-width-md) + var(--col-gutter) * 2); 
        display: flex; 
        justify-content: center;
      } 
    
      .elementor-top-section { 
        margin-bottom: var(--section-mb);
      } 
    
      .elementor-section.elementor-section-boxed { 
        display: flex; 
        justify-content: center;
      } 
    
      .elementor-4435 .elementor-element.elementor-element-123ba0e3 { 
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; 
        padding: 0% 0% 0% 0%;
      } 
    
      .main-wrap { 
        max-width: 100%; 
        box-sizing: border-box;
      } 
    
      body { 
        margin:  0; 
        padding:  0; 
        border:  0; 
        vertical-align:  baseline; 
        font-size:  100%; 
        font-family:  var(--body-font); 
        line-height: 1.5; 
        color: var(--body-color, var(--c-contrast-700)); 
        background: var(--c-contrast-0); 
        -webkit-text-size-adjust: 100%; 
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
        overflow-x: hidden;
      } 
    
      .elementor-kit-9 { 
        --e-global-color-smartmag: var(--c-main); 
      } 
    
      .has-sb-sep { 
        --sidebar-c-pad: var(--sidebar-sep-pad, calc(var(--sidebar-pad) + 8px));
      } 
    
      body.elementor-default { 
        --e-global-color-smartmag-main: var(--c-main); 
        --e-global-color-smartmag: var(--c-main);
      } 
    
      html { 
        margin:   0; 
        padding:   0; 
        border:   0; 
        vertical-align:   baseline; 
        font-size:  14px;
        font-family:   inherit;
        box-sizing:  border-box;
      } 
    
      :root { 
        --body-font: "Public Sans", system-ui, sans-serif; 
        --ui-font: var(--body-font); 
        --text-font: var(--body-font); 
        --title-font: var(--ui-font); 
        --h-font: var(--ui-font); 
        --main-width: 1200px; 
        --grid-gutter: 36px; 
        --sidebar-width: 33.3333333%; 
        --sidebar-c-width: var(--sidebar-width); 
        --sidebar-pad: 38px; 
        --sidebar-c-pad: var(--sidebar-pad); 
        --c-sidebar-sep: var(--c-separator2); 
        --max-width-md: 680px; 
        --title-size-xs: 14px; 
        --title-size-s: 16px; 
        --title-size-n: 18px; 
        --title-size-m: 20px; 
        --title-size-l: 25px; 
        --title-fw-bold: 700; 
        --grid-p-title: var(--title-size-m); 
        --grid-sm-p-title: var(--title-size-s); 
        --grid-lg-p-title: var(--title-size-l); 
        --list-p-title: calc(var(--title-size-m) * 1.05); 
        --small-p-title: var(--title-size-xs); 
        --feat-grid-title-s: var(--title-size-n); 
        --feat-grid-title-m: var(--title-size-m); 
        --feat-grid-title-l: var(--title-size-l); 
        --post-content-size: 1.186rem; 
        --single-content-size: var(--post-content-size); 
        --block-wrap-mb: 55px; 
      } 
    
      :root,.s-light { 
        --c-main: #2ab391; 
        --c-contrast-0: #fff; 
        --c-contrast-10: #fbfbfb; 
        --c-contrast-100: #e8e8e8; 
        --c-contrast-125: #e2e2e2; 
        --c-contrast-150: #ddd; 
        --c-contrast-300: #bbb; 
        --c-contrast-450: #8a8a8a; 
        --c-contrast-650: #505050; 
        --c-contrast-700: #444; 
        --c-contrast-850: #191919; 
        --c-contrast-900: #161616; 
        --c-rgba: 0, 0, 0; 
        --c-separator: var(--c-contrast-100); 
        --c-separator2: var(--c-contrast-125); 
        --c-links: var(--c-contrast-900); 
        --c-headings: var(--c-contrast-900); 
        --c-excerpts: var(--c-contrast-650); 
        --c-nav: var(--c-contrast-900); 
        --c-nav-blip: var(--c-contrast-300); 
        --c-post-meta: var(--c-contrast-450); 
      } 
    }     
    
    :root { 
        --c-main: #ba4994; 
        --body-font: "Inter", system-ui, -apple-system, "Segoe UI", Arial, sans-serif; 
        --title-font: "Urbanist", system-ui, -apple-system, "Segoe UI", Arial, sans-serif; 
        --title-size-xs: 15px; 
        --title-size-s: 17px; 
        --main-width: 1170px; 
        --sidebar-width: 31.925%;
    } 
    
    @media all{ 
      .elementor-widget-wrap { 
        position: relative; 
        width: 100%; 
        flex-wrap: wrap; 
        align-content: flex-start;
      } 
    
      .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap  { 
        display: flex;
      } 
    
      .elementor-4435 .elementor-element.elementor-element-777465d7 > .elementor-element-populated  { 
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; 
        text-align: center; 
        padding: 35px 45px 0px 45px;
      } 
    
      .elementor-4435 .elementor-element.elementor-element-777465d7:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap  { 
        background-color: #000000;
      } 
    
      *,:before,:after { 
        box-sizing:  inherit;
        -webkit-font-smoothing: antialiased;
      } 
    
      * ,:after ,:before  { 
        box-sizing: border-box;
      } 
    
      :selection { 
        background: var(--c-main); 
        color: #fff;
      } 
    
      .elementor-element:where(.e-con-full, .elementor-widget) { 
        flex-direction: var(--flex-direction); 
        flex-wrap: var(--flex-wrap); 
        justify-content: var(--justify-content); 
        align-items: var(--align-items); 
        align-content: var(--align-content); 
        gap: var(--gap);
      } 
    
      .elementor-widget { 
        position: relative;
      } 
    
      .elementor-widget-wrap > .elementor-element  { 
        width: 100%;
      } 
    
      .elementor-widget:not(:last-child) { 
        margin-bottom: 20px;
      } 
    }     
    
    @media (min-width: 1025px) and (max-width: 99999px){ 
      .elementor-hidden-desktop  { 
        display: none;
      } 
    }     
    
    @media (min-width: 940px){ 
      .elementor-hidden-desktop  { 
        display: none;
      } 
    }     
    
    @media all{ 
      .elementor-element .elementor-widget-container  { 
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
      } 
    
      .elementor-4435 .elementor-element.elementor-element-3e146381 > .elementor-widget-container  { 
        padding: 0px 0px 10px 0px;
      } 
    
      .block-wrap { 
        margin-bottom: var(--block-wrap-mb);
      } 
    
      .s-dark:not(i) { 
        --c-contrast-0: #000; 
        --c-contrast-10: #070707; 
        --c-contrast-100: #222; 
        --c-contrast-125: #2b2b2b; 
        --c-contrast-150: #333; 
        --c-contrast-300: #555; 
        --c-contrast-450: #999; 
        --c-contrast-650: #ccc; 
        --c-contrast-700: #d1d1d1; 
        --c-contrast-850: #ececec; 
        --c-contrast-900: #f0f0f0; 
        --c-rgba: 255, 255, 255; 
        --c-a-hover: rgba(var(--c-rgba), .7); 
        --c-headings: var(--c-contrast-850); 
        --c-excerpts: var(--c-contrast-650); 
        --c-separator: rgba(var(--c-rgba), .13); 
        --c-separator2: rgba(var(--c-rgba), .13); 
        --c-links: var(--c-contrast-900); 
        --c-headings: var(--c-contrast-850); 
        --c-nav: var(--c-contrast-900); 
        --c-nav-drop-bg: var(--c-contrast-10); 
        --c-post-meta: rgba(var(--c-rgba), .65); 
        --c-email: var(--c-contrast-300); 
        --c-input-bg: rgba(var(--c-rgba), .1); 
      } 
    
      .block-wrap.mb-sm { 
        margin-bottom: 30px;
      } 
    
      .block-head { 
        --line-weight: 1px; 
        --c-border: var(--c-separator2); 
        --space-below: 26px; 
        --c-block: var(--c-main); 
        display: flex; 
        flex-wrap: nowrap; 
        font-family: var(--ui-font); 
        align-items: center; 
        justify-content: space-between; 
        margin-bottom: var(--space-below);
      } 
    
      .block-head-ac { 
        --c-block: var(--c-contrast-900);
      } 
    
      .block-head-c { 
        --c-line: var(--c-main); 
        --line-width: 40px; 
        --line-weight: 2px; 
        --border-weight: 1px; 
        border-bottom: var(--border-weight) solid var(--c-border); 
        padding-bottom: 13px; 
        position: relative;
      } 
    
      .block-head-c2 { 
        border-bottom: 0; 
        --line-weight: 1px; 
        --space-below: 30px;
      } 
    }     
    
    .block-head-c2 { 
        --line-weight: 4px; 
        --c-line: #8a2be2;
    } 
    
    @media all{ 
      .elementor-element.elementor-element-f96794e .block-head  { 
        --c-main: #DC2430; 
        --c-block: #DC2430;
      } 
    
      .block-head-c:after { 
        content: ""; 
        position: absolute; 
        bottom: calc(-1 * var(--border-weight)); 
        left: 0; 
        width: var(--line-width); 
        height: var(--line-weight); 
        background-color: var(--c-line);
      } 
    
      .block-content { 
        position: relative;
      } 
    
      h4 { 
        margin:   0; 
        padding:   0; 
        border:   0; 
        vertical-align:   baseline; 
        font-size:   1.21em;
        font-family:  var(--h-font); 
        font-weight: var(--title-fw-bold); 
        color: var(--c-headings);
      } 
    
      .block-head .heading  { 
        font-size: 17px; 
        font-weight: 700; 
        line-height: 1.2; 
        text-transform: uppercase; 
        color: var(--c-block); 
        flex-shrink: 0; 
        max-width: 100%;
      } 
    }     
    
    .block-head-c2 .heading  { 
        font-size:  18px; 
        font-weight:  bold; 
        letter-spacing:  0.025em;
        color: #0a0a0a;
    } 
    
    .s-dark .block-head-c2 .heading  { 
        color: #ffffff;
    } 
    
    @media all{ 
      .grid { 
        display: grid; 
        grid-column-gap: var(--grid-gutter); 
        grid-row-gap: var(--grid-row-gap, 0);
      } 
    
      .grid-1 { 
        grid-template-columns: repeat(1, minmax(0, 1fr));
      } 
    
      .loop-sep { 
        overflow: hidden;
      } 
    
      .loop-list { 
        --grid-row-gap: 35px;
      } 
    
      .loop-list-sep { 
        --grid-row-gap: 52px;
      } 
    
      .grid-2 { 
        grid-template-columns: repeat(2, minmax(0, 1fr));
      } 
    
      .loop-grid { 
        --grid-row-gap: 36px;
      } 
    
      .grid-4 { 
        grid-template-columns: repeat(4, minmax(0, 1fr));
      } 
    
      article { 
        display: block;
        margin:  0; 
        padding:  0; 
        border:  0; 
        /* vertical-align: baseline;  */
        font-size:  100%; 
        font-family:  inherit;
      } 
    
      .list-post { 
        display: flex; 
        width: 100%; 
        --list-p-content-pad: 5px 0;
      } 
    
      .loop-list .l-post  { 
        position: relative;
      } 
    
      .elementor-element.elementor-element-f96794e .list-post  { 
        --list-p-media-width: 62%; 
        --list-p-media-max-width: 85%;
      } 
    
      .loop-sep .l-post:after  { 
        content: ""; 
        position: absolute; 
        left: 0; 
        width: 100%; 
        bottom: calc(var(--grid-row-gap) / 2 * -1); 
        border-bottom: 1px solid var(--c-separator);
      } 
    
      .l-post .media  { 
        position: relative; 
        align-self: flex-start; 
        border-radius: var(--media-radius, 0); 
        overflow: hidden;
      } 
    
      .list-post .media  { 
        display: block; 
        max-width: var(--list-p-media-max-width, 60%); 
        width: var(--list-p-media-width, 38%); 
        margin-right: var(--list-p-media-margin, 25px); 
        flex-shrink: 0;
      } 
    
      .list-post.m-pos-right .media  { 
        order: 3; 
        margin-right: 0; 
        margin-left: var(--list-p-media-margin, 30px);
      } 
    
      .l-post .content  { 
        position: relative;
      } 
    
      .list-post .content  { 
        padding: var(--list-p-content-pad); 
        display: flex; 
        flex-direction: column; 
        flex-grow: 1;
      } 
    
      .list-post-v-center .content  { 
        justify-content: center;
      } 
    
      .elementor-element.elementor-element-f96794e .content  { 
        padding: 0px 0px 0px 0px;
      } 
    
      .grid-post .media  { 
        margin-bottom: 16px;
      } 
    
      a { 
        margin:  0; 
        padding:  0; 
        border:  0; 
        vertical-align:  baseline; 
        font-size:  100%; 
        font-family:  inherit;
        color: var(--c-a, var(--c-links)); 
        text-decoration: none; 
        transition: all .25s ease-in-out;
      } 
    
      .media-ratio { 
        position: relative; 
        display: block; 
        height: 0;
      } 
    
      a  { 
        box-shadow: none; 
        text-decoration: none;
      } 
    
      .media-ratio.ratio-16-9 { 
        padding-bottom: 56.25%;
      } 
    
      .l-post .image-link  { 
        display: block; 
        position: relative; 
        max-width: 100%;
      } 
    
      a:hover { 
        text-decoration: none; 
        color: var(--c-a-hover, var(--c-main));
      } 
    
      .post-meta { 
        --p-meta-sep: "\2014"; 
        display: flex; 
        flex-direction: column; 
        margin-bottom: var(--p-meta-mb, initial); 
        font-family: var(--ui-font); 
        font-size: 12px; 
        color: var(--c-post-meta); 
        line-height: 1.5;
      } 
    
      .grid-post .image-link  { 
        width: 100%;
      } 
    
      .loop-grid .l-post .image-link  { 
        overflow: hidden;
      } 
    
      span { 
        margin: 0; 
        padding: 0; 
        border: 0; 
        vertical-align: baseline; 
        font-size: 100%; 
        font-family: inherit;
      } 
    
      .lazyloaded { 
        will-change: initial; 
        opacity: 1;
      } 
    
      .wp-post-image { 
        transition: opacity .3s ease-in-out;
      } 
    }     
    
    @media (min-width: 941px){ 
      .wp-post-image { 
        will-change: opacity;
      } 
    }     
    
    @media all{ 
      .bg-cover { 
        display: block; 
        width: 100%; 
        height: 100%; 
        background-repeat: no-repeat; 
        background-position: center center; 
        background-size: cover; 
        /* background-repeat-x: no-repeat; 
        background-repeat-y: no-repeat; */
      } 
    
      .media-ratio .wp-post-image  { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: var(--media-radius, 0);
      } 
    
      .wp-post-image:hover { 
        opacity: 0.85;
      } 
    
      .post-meta > :first-child  { 
        margin-top: 0;
      } 
    
      h2 { 
        margin:   0; 
        padding:   0; 
        border:   0; 
        vertical-align:   baseline; 
        font-size:   1.5em;
        font-family:  var(--h-font); 
        font-weight: var(--title-fw-bold); 
        color: var(--c-headings);
      } 
    
      .post-title { 
        color: var(--c-headings); 
        font-family: var(--title-font); 
        line-height: 1.36;
      } 
    
      .post-meta .post-title  { 
        margin: var(--p-title-space, 9px) 0;
      } 
    
      .post-meta > :last-child  { 
        margin-bottom: 0;
      } 
    
      .l-post .post-title  { 
        font-size: var(--title-size-m); 
        font-weight: var(--title-fw-bold);
      } 
    
      .list-post .post-title  { 
        font-size: var(--list-p-title);
      } 
    }     
    
    .post-title:not(._) { 
        letter-spacing: -0.01em;
    } 
    
    @media all{ 
      .post-meta > .is-title:last-child  { 
        margin-bottom: 0 !important;
      } 
    
      .elementor-element.elementor-element-f96794e .post-title  { 
        font-size: 34px;
      } 
    
      .lazyload { 
        will-change: opacity !important; 
        background-color: var(--c-contrast-150);
      } 
    
      .wp-post-image,.lazyload { 
        transition: opacity .3s ease-in-out;
      } 
    
      .lazyload:not(._) { 
        opacity: 0.1;
      } 
    
      .grid-post .post-title  { 
        font-size: var(--grid-p-title);
      } 
    
      .post-meta > .is-title:first-child  { 
        margin-top: 0 !important;
      } 
    
      .limit-lines { 
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 5; 
        -webkit-line-clamp: var(--limit-lines, 5); 
        overflow: hidden; 
        word-wrap: break-word; 
        text-overflow: ellipsis;
      } 
    
      .l-lines-2 { 
        --limit-lines: 2;
      } 
    
      .elementor-element.elementor-element-3e146381 .post-title  { 
        font-size: 19px;
      } 
    
      .post-meta .post-cat  { 
        display: inline-flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
      } 
    
      .post-meta .meta-item:before  { 
        content: "\2014"; 
        content: var(--p-meta-sep); 
        padding: 0 var(--p-meta-sep-pad, 4px); 
        display: inline-block; 
        transform: scale(0.916);
      } 
    
      .post-meta .meta-item:first-child:before  { 
        display: none;
      } 
    
      .post-title a  { 
        --c-links: initial; 
        --c-a: initial; 
        --c-a-hover: var(--c-main); 
        display: block;
      } 
    
      .post-meta-items a  { 
        color: inherit;
      } 
    
      .post-meta .post-cat > a  { 
        padding: 0; 
        color: var(--c-main); 
        font-weight: 500; 
        letter-spacing: 0.05em; 
        text-transform: uppercase;
      } 
    
      .post-meta .post-cat > a:hover  { 
        opacity: 0.8;
      } 
    
      .post-meta .post-author > a  { 
        color: var(--c-contrast-850); 
        font-weight: 500;
      } 
    
      time { 
        margin: 0; 
        padding: 0; 
        border: 0; 
        vertical-align: baseline; 
        font-size: 100%; 
        font-family: inherit;
      } 
    }     
    
    
    /* These were inline style tags. Uses id+class to override almost everything */
    #style-9QGED.style-9QGED {  
       background-image: url("https://wegotvisual.com/wp-content/uploads/2023/05/how-do-you-set-up-and-take-down-pop-up-tents-Fixed.webp");  
    }  
    
